body,
html {
    margin: 0;
    width: 100%;
    background-color: #f2f0f1;
    font-family: 'ABeeZee', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

p {
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 2em;
}

header#start-screen h1 {
    font-size: 5.5vh;
}

header#start-screen h2 {
    font-size: 2.75vh;
}

.grid-body {
    display: grid;
}

.index-grid {
    grid-template-rows: auto calc(100vh - 48px) auto 300px;
}

header#start-screen {
    padding-top: 1vh;
    background-image: url("../img/house_cropped.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 200vh;
    text-align: center;
}

@media screen and (max-width: 940px) {
    header#start-screen {
        background-size: 200vw;
    }

    header#start-screen h1 {
        font-size: 5.5vw;
    }

    header#start-screen h2 {
        font-size: 2.75vw;
    }
}

section#card-screen {
    padding: 12px 25px;
}

section#card-screen div.card-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 16px;
    padding: 25px;
}

@media screen and (max-width: 940px) {
    section#card-screen div.card-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    section#card-screen {
        padding: 15px;
    }
}

section#card-screen article {
    flex: 1;
    background-color: #33363d;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: 2px 2px 2px #0005;
}

footer#contact-screen {
    background-color: #333;
    color: #dadada;
    display: flex;
    padding: 40px;
    gap: 20px;
}

nav#navbar {
    height: 48px;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px #0005;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(15px);
    background-color: #fffa;
}

nav#navbar ul {
    display: flex;
    width: 100%;
    /* gap: 20px; */
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}


li#logo-container img {
    height: 75%;
    width: 48px;
}

nav#navbar a {
    padding: 0 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    text-decoration: none;
    color: black;

    font-size: larger;
}

#logo-container p {
    margin-left: 5;
}

#logo-container {
    padding: 0;
    margin-left: -12px;
}

nav#navbar a:hover {
    opacity: .50;
    transition-duration: 200ms;
}

nav#navbar li {
    list-style: none;
    height: 100%;
    width: min-content;
    align-self: center;

}