body, html {
    margin: 0;
    width: 100%;
}

.grid-body {
    display: grid;
}

.index-grid {
    grid-template-rows: 48px repeat(3, calc(100vh - 48px));
}

.index-grid *:nth-child(odd) {
    background-color: black;
}

nav#navbar {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px #0005;
    backdrop-filter: blur(35px);
    background-color: #fff5;
}