body,
html {
    margin: 0;
    width: 100%;
    font-family: 'ABeeZee', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

.grid-body {
    display: grid;
}

.index-grid {
    grid-template-rows: 48px repeat(3, calc(100vh - 48px));
}

header#start-screen {
    padding-top: 15px;
    background-image: url("../img/house_cropped.jpg");
    background-position: center top;
    text-align: center;
}

nav#navbar {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px #0005;
    backdrop-filter: blur(25px);
    background-color: #fffa;
}

nav#navbar ul {
    display: flex;
    width: 100%;
    /* gap: 20px; */
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav#navbar a {
    padding: 0 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    text-decoration: none;
    color: black;
    font-size: larger;
}

#logo-container p {
    margin-left: -5px;
}

#logo-container {
    padding: 0;
    margin-left: -12px;
}

nav#navbar a:hover {
    opacity: .50;
    transition-duration: 200ms;
}

nav#navbar li {
    list-style: none;
    height: 100%;
    width: min-content;
    align-self: center;
}

li#logo-container img {
    height: 100%;
}